.rpc_watermark_wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100px;
	box-sizing: border-box;

	.rpc_watermark_layer {
		position: absolute !important;
		top: 0 !important;
		left: 0 !important;
		right: 0 !important;
		bottom: 0 !important;
		width: 100% !important;
		height: 100% !important;
		pointer-events: none !important;
		z-index: 9999 !important;
		background-repeat: repeat !important;
		display: block !important;
		visibility: visible !important;
		opacity: 1 !important;
	}
}
